body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20%;
	font-weight: bold;
	text-align: center;
}
.main {
	position: absolute;
	align-items:center;
	justify-content:space-around;
	width: 200px;
	height: 240px;
	top: 50%;
    left:50%;
    transform: translate(-50%, -50% );
	border-radius: 20px;
	flex-direction: column;
	}
.sima button {
	background: #006633;
	color: white;
	position: relative;
	padding: 10px 22px;
	text-align: center;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	width: 127px;
	height:32px;
	margin: 5px 0;
}
.disabled button{
	background: #DADADA;
	color: white;
	position: relative;
	padding: 2px 22px;
	text-align: center;
	font-weight: bold;
	border: none;
	border-radius: 20px;
	width: 130px;
	height:32px;
	margin: 5px 0;
}
.sima button:hover{
	background: #55AE3A;
	transition: all 0.2s ease; 

}

.sima button:active{
	background: #363636;
	transition: all 0.2s ease; 
}
.icon1 {
	display: inline-block;
	float: left;
	margin: 0 0 0px 0;
	width: 20px;
	height: 20px;
	position: relative;
	left: 0%;
	right: 20%;
	top: 0;
	bottom: 0%;
}
.fa-solid fa-trash {
	padding: 50px;
}