body {
    margin: 0;
    height: 100vh;
    display: table;
    width: 100%;
  }
  
  .container {
    display: table-cell;
    vertical-align: middle;
  }
  
  .centered-main {
    width: 1500px;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey; /* Set your desired background color */
    text-align: center; /* Center text inside main element if needed */
  }
  .navbar {
    width: 1450px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color:#006633;
  }
  .box{
    max-width: 328px;
    width: 100%;
    height: 45px;
    display: inline-block;
    color:#006633;
    background-color: white;
    transform: skew(-30deg);
    margin: 0px; 
    font-size: 34px;
    padding-top: 5px;
    font-weight: bold;
    transition: 0.3s;
  }
  .box:first-child, .box:last-child{
    max-width: 324px;
    width: 100%;
    height: 45px;
    color: white;
    display: inline-block;
    background-color: #006633;
    margin:0px; 
    font-size: 34px;
    font-weight: bold;
    transition: 0.3s;
  }
  .text{
    transform: skew(30deg);
  }
  .box:first-child:hover, .box:last-child:hover{
    background-color:#55AE3A ;
    transition: 0.3s;
  }
  .box:first-child:active, .box:last-child:active{
    background-color:grey ;
    transition: 0.3s;
  }
  .main-pic{
    width: 100%;
    height: 400px;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: aqua;
  }
  .pic {
    max-width: 272px;
    width: 100%;
    text-align: left;
    overflow: hidden;
    position: relative;
  }
  .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.text_box {
   height:100px;
    position: absolute;
    font-size: 23px;
    font-weight: bold;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}
.overlay-box {
  position: absolute;
  top: 63%;
  left: 20px;
  width: 133px;
  height: 30px;
  background-color:#55AE3A;
  transform: skew(-30deg);
}
.text_smallbox{
  font-size: 25px;
  transform: skew(30deg);
  color:white;
  padding-left:15px;
}