* {

    align-items: center;
}


header {
    position: absolute;
    left: 0%;
    display: flex;
    gap:16px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding:0 25px;
    position: absolute;
    width: 100%;
    height:58px;
    background-image: url('header.svg') ; 
    text-decoration: none;
}
.content {
	display: flex;
    position: absolute;
    top:15%;
    gap:16px;
	flex-wrap: nowrap;
    max-width: 90%;
    column-gap: 50px;
	min-height: 2200px;
	justify-content: space-evenly;
    align-items: stretch;

}

.logos {
    width: 260px;
}
li,a {
    color: white;
    text-decoration: none;
}
.logo {
    position: relative;
    float:right;
}
.logo,.menu {
    cursor: pointer;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0 20px;
}
.search {
    position: relative;
    right:50px;
    
}
input[type=text]{
    border-radius: 10px;
    width:306px;
    height:40px;
    padding:0 30px;
}







main {
	flex-basis: 70vw;
	order: 1;
	margin: 0;
    width: 856px;
    height:480px;
    
}
.photo1 {
    display: inline-block;
    position: relative;
    background-image: url('nigga.svg');
    width: 100%;
    max-width: 856px;
    height:480px;
    margin: 0%;
    
}
.box {
    position: absolute;
    background-color:#55AE3A ;
    width: 162px;
    height:32px;
    transform: skew(-30deg);
    text-align: center;
    margin: 0;
    top:60%;
    left: 4%;
    
}
.box p {
    display: block;
    position: relative;
    
    color: white;
    transform: skew(30deg);
     top:25%;
    margin: 0%;
    
}

.photo1 h2 {
    display: block;
    margin: 0 auto;
    position: absolute;
    color: white;
    bottom: 10px;
    padding:20px;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    
}
.card2 {
    display: inline-block;
    position: relative;
    background-image: url('nigga2.svg');
    max-width: 416px;
    width:416px;
    height:233px;
}
.box1 {
    position: absolute;
    background-color:#55AE3A ;
    width: 162px;
    height:32px;
    transform: skew(-30deg);
    text-align: center;
    margin: 0;
    top:50%;
    left: 6%;
}
.box1 p {
    display: block;
    position: relative;
    color: white;
    transform: skew(30deg);
    top:25%;
    margin: 0%;
}

.card2 h2 {
    margin: 0 auto;
    position: absolute;
    color: white;
    bottom: 0px;
    padding:14px;
    font-weight: 800;
    font-size: 21px;
    line-height: 32px;
}
.card3 {
    margin-top: 3%;
    margin-left: 2%;
    display: inline-block;
    position: relative;
    background-image: url('nigga3.svg');
    max-width: 416px;
    width:416px;
    height:233px;
    

}
.box1 {
    position: absolute;
    background-color:#55AE3A ;
    width: 162px;
    height:32px;
    transform: skew(-30deg);
    text-align: center;
    margin: 0;
    top:50%;
    left: 6%;
}
.box2 p {
    display: block;
    position: relative;
    color: white;
    transform: skew(30deg);
    top:25%;
    margin: 0%;
}

.card3 h3 {
    margin: 0 auto;
    position: absolute;
    color: white;
    bottom: 0px;
    padding: 15px;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}
aside {
	flex-basis: 25vw;
	order: 2
}
aside ul {
	list-style: none;
	margin: 0;
	padding: 0
}
aside a {
	display: block;
	color: #006633;
	font-size: 20px;
	text-decoration: none;
	line-height: 15px;
    font-weight: bold;
    
}
aside a:hover {
	text-decoration: underline
}
aside li {
	padding: 15px 0;
}
.rec {
    margin-top: 30px;
    
}
.card4 {
    display: inline-block;
    margin-top:25px;
    width: 100%;
    max-width: 416px;
    height:86px;
    
}
.photocard4 {
    float: left;
    gap:30px;
    display: inline-block;
    margin: 0%;
    position: relative;
    background-image: url('k.svg');
    width: 100%;
    max-width: 86px;
    height:86px;
    
}
.boxcard4 {
    display: inline-block;
    position: relative;
    background-color:#55AE3A ;
    width: 100%;
    max-width: 162px;
    height:32px;
    transform: skew(-30deg);
    text-align: center;
    margin: 0;
    top:0%;
    left:7%;
}
.boxcard4 p {
    display: block;
    position: relative;
    color: white;
    transform: skew(30deg);
    top:25%;
    margin: 0%;
}
h4 {
    margin: 5px 0 0 20px;
    float: center;
    width: 100%;
    max-width: 306px;
    height:51px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
@media (max-width:1065px){
    .photo1 h2 {
      
        font-size: 28px;
        line-height: 34px;
        
    }
   
}
@media (max-width:775px){
   .photo1{
    height: 100%;
    max-height: 390px;
   }
    .photo1 h2 {
      
        font-size: 24px;
        line-height: 32px;
        
    }
   .aside {
    display:none;
   }
  
}
@media (max-width: 675px){
    .photo1 h2 {
        font-size: 21px;
        line-height: 30px;
    }
   .aside {
    display:none;
   }
}