* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background-image: url('header.svg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 100%;
    min-height: 2200px;
    margin-top: 58px;
    padding: 20px;
}

.logos {
    max-width: 260px;
    display: flex;
    align-items: center;
    gap:20px;
    width: 50%;
}
li,a {
    color: white;
    text-decoration: none;
}
.logo,.menu {
    cursor: pointer;
}
.nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav_links li {
    display: inline-block;
}
.search {
    position: relative;
}
input[type=text]{
    border-radius: 15px;
    max-width: 240px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
}







main {
    flex-basis: 70vw;
    order: 1;
    margin: 0;
    width: 100%;
    max-width: 856px;
    height: 480px;
}
.photo1 {
    background-image: url('nigga.svg');
    background-size: cover;
    width: 100%;
    max-width: 950px;
    height: 480px;
    margin-bottom: 20px;
    position: relative;
}
.box {
    display: none;
    position: relative;
    background-color:#55AE3A ;
    max-width: 162px;
    width: 80%;
    height:32px;
    transform: skew(-30deg);
    text-align: center;
}
.box p {
    display: block;
    position: relative;
    color: white;
    transform: skew(30deg);
     top:25%;
    margin: 0%;
    
}

.photo1 h2 {
    display: block;
    margin: 0 auto;
    position: absolute;
    color: white;
    bottom: 10px;
    padding:20px;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    
}
.small-pictures-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    max-width: 856px;
}
.card2 {
    display: inline-block;
    position: relative;
    background-image: url('nigga2.svg');
    max-width: 416px;
    width: 48%;
    height: 233px;
    margin: 0 1%;
}
.box1 {
    position: absolute;
    background-color:#55AE3A ;
    width: 162px;
    height:32px;
    transform: skew(-30deg);
    text-align: center;
    margin: 0;
    top:50%;
    left: 6%;
    
}
.box1 p {
    display: block;
    position: relative;
    color: white;
    transform: skew(30deg);
    top:25%;
    margin: 0%;
}

.card2 h2 {
    margin: 0 auto;
    position: absolute;
    color: white;
    bottom: 0px;
    padding:14px;
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card3 {
    display: inline-block;
    position: relative;
    background-image: url('nigga3.svg');
    max-width: 416px;
    width: 48%;
    height: 233px;
    margin: 0 1%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box1 {
    position: absolute;
    background-color:#55AE3A ;
    width: 162px;
    height:32px;
    transform: skew(-30deg);
    text-align: center;
    margin: 0;
    top:50%;
    left: 6%;
}
.box2 p {
    display: block;
    position: relative;
    color: white;
    transform: skew(30deg);
    top:25%;
    margin: 0%;
}

.card3 h3 {
    margin: 0 auto;
    position: absolute;
    color: white;
    bottom: 0px;
    padding: 15px;
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.section2 {
    display: flex;
    flex-direction: row;
    gap:25px;
}
.f1pic {
    
    display: inline-block;
    margin:0%;
    width: 100%;
    max-width:416px;
    height:416px;
}
.both-pictures-container {
    margin-top: 30px;
    position: relative;
    left: 2%;
    background-image: url('kmno.svg');
    width: 100%;
    max-width: 416px;
    height:233px;
    
}
.undertext {
    position: relative;
    top:100%;
    width:416px;
    font-weight: 300;
}

.undertext h2 {
    margin: 0 auto;
    position: relative;
    color: black;
    padding: 5px;
    font-weight: 1000;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
}
.undertext h3 {
    margin: 0 auto;
    position: relative;
    color: black;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}



.accident-flex {
    position: relative;
    width:100%;
    max-width: 416px;
    display: flex;
    flex-direction: column;
    gap:10px;
    left: 0;
}
.baleset {
  
    display: inline-block;
    margin:0%;
    width: 100%;
    max-width:416px;
    height:86px;
}
.accident-pic {
    float: left;
    gap:30px;
    display: inline-block;
    margin: 0%;
    position: relative;
    background-image: url('k.svg');
    width: 100%;
    max-width: 86px;
    height:86px;
    
}
.box {
    display: inline-block;
    position: relative;
    background-color:#55AE3A ;
    width: 162px;
    height:32px;
    transform: skew(-30deg);
    text-align: center;
    margin: 0;
    top:0%;
    left:7%;
}
.box p {
    display: block;
    position: relative;
    color: white;
    transform: skew(30deg);
    top:25%;
    margin: 0%;
}
h1 {
    margin: 5px 0 0 20px;
    float: center;
    width: 100%;
    max-width: 306px;
    height:51px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

















 









@media (max-width:1466px){
    h1 {
        font-size: 15px;
    }
   
}
@media (max-width:1350px){
    h1 {
        margin: 5px 0 0 20px;
        float: center;
        width: 100%;
        max-width: 150px;
        height:51px;
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }
   
}
@media (max-width:1065px){
    .photo1 h2 {
      
        font-size: 28px;
        line-height: 34px;
        
    }
    input[type=text]{
        max-width: 180px;
        
    }
  
    nav{
        font-size: 15px;
    }
   
}
@media (max-width:870px){
nav{
    display: none;
}   
.search{
    display: none;
}
.logos{
    display: flex;
    justify-content: center;
    width: 100%; /* Ensure the logos take up the full width of the .navbar */
    margin: 0 auto;
}
 }
@media (max-width:775px){
   .photo1{
    height: 100%;
    max-height: 390px;
   }
    .photo1 h2 {
      
        font-size: 24px;
        line-height: 32px;
        
    }

  
}
@media (max-width: 675px){
    .photo1 h2 {
        font-size: 21px;
        line-height: 30px;
    }
   .aside {
    display:none;
   }
}
@media (max-width: 580px) {
    header {
        background-image: url('header-background-phone.png');
    }

    .nav_links {
        display: none;
    }

    .search {
        display: none;
    }

    .photo1 h2 {
        font-size: 24px;
    }

    .card h2 {
        font-size: 18px;
    }
}