.main {
    position: absolute;
    display: inline-block;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50% );
    background-color:#006633 ;
    height:333px;
    width:416px;
    border-radius: 16px 0 0 16px;
}
.close {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    height: 30px;
    width: 30px;
    background: transparent;
    border-radius: 5px;
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "\d7";
      font-size: 34px;
      color: #fff;
      line-height: 20px;
      text-align: center;
    }
  }
div .header {
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 22px 0 0 17px;
    margin-top: 10px;
}
div .asd {
    position: relative;
    display: inline-block;
    width: 416px;
    height: 150px;
    margin: 0;
}
input[type=text]:hover {
    border-width: 2px;
    border-color: #55AE3A;
    transition: all 0.3s ease; 
}
input[type=text]{
    position: absolute;
    background-color: white;
    align-items: center;
    cursor:pointer;
    top: 35%;
    left:50%;
    transform: translate(-50%, -50% );
    height: 20px;
    width: 351px;
    padding: 10px 12px 10px 12px;
    border: 2px solid #006633;
    border-radius: 20px;
    transition: all 0.3s ease; 
}
input[type=text]:focus {
    border-width: 2px;
    border-color: #55AE3A;
}

input[type=email]{
    position: absolute;
    background-color: white;
    align-items: center;
    cursor:pointer;
    top: 70%;
    left:50%;
    transform: translate(-50%, -50% );
    height: 20px;
    width: 351px;
    padding: 10px 12px 10px 12px;
    border: 2px solid #006633;
    border-radius: 20px;
    transition: all 0.3s ease;
}
input[type=email]:hover{
    border-width: 2px;
    border-color: #55AE3A;
    transition: all 0.3s ease; 
}
div .name {
    margin: 5px 0 5px 20px;
    height:20px;
    border-radius: 16px;
}
div .checkbox {
    display: inline-block;
    position: relative;
    left: 10px;
    width: 300px;
    margin-right: 116px;
    color: white;
    transition: all 0.2s ease;

}
div .checkbox .hover  {
    transition: all 0.2s ease;
}
div .checkbox .hover:hover , .u:hover {
    cursor:pointer;
    color: #55AE3A;
    transition: all 0.2s ease;
}
input[type=checkbox]{
    color:#660000;
}
.footer-box{
    position: relative;
    width: 416px;
    height: 92px;
}
div .man {
    font-size: 19px;
    color:white;
    cursor:pointer;
    background: #55AE3A ;
    border-radius: 20px;
    position: absolute;
    display: inline-block;
    margin: 10px;
    padding-top: 10px;
    left: 15%;
    top:30%;
    transform: translate(0, -50%);
    text-align: center;
    width: 170px;
    height: 32px;
    transition: all 0.2s ease;
}
div .man:hover {
    background: #FFCE00;
    transition: all 0.2s ease;
}
div .man:active {
    background: #363636;
    transition: all 0.2s ease;
}
